{% extends "base.html" %}
{% block title %}
    Search Users
{% endblock title %}
{% block content %}
    <div class="flex flex-col gap-4 items-start">
        <h1>Search Teachers and Students</h1>
        {% comment %} Form to search users {% endcomment %}
        <form action={% url "search" %} method="get" class="w-full gap-2 flex">
            <input type="text"
                   name="query"
                   id="query"
                   placeholder="Search for a teacher or student"
                   class="px-4 py-2 border rounded flex-1"
                   value="{% if query %}{{ query }}{% endif %}">
            <button type="submit" class="btn">Search</button>
        </form>
        {% comment %} List of users from query {% endcomment %}
        {% if results %}
            <h2>Search Results:</h2>
            <ul>
                {% for user in results %}<li>{{ user.username }} - {{ user.email }}</li>{% endfor %}
            </ul>
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </div>
{% endblock content %}
