{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <div class="flex flex-col gap-4">
        <h1>Teacher Dashboard</h1>
        <h2>Enrolled courses</h2>
        {% for course in courses %}
            <div class="p-4 border border-border rounded-xl">
                <h2>{{ course.title }}</h2>
                <p>{{ course.description }}</p>
            </div>
        {% endfor %}
        <h2>Recommended courses</h2>
        {% for course in courses %}
            <div class="p-4 border border-border rounded-xl">
                <h2>{{ course.title }}</h2>
                <p>{{ course.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
