{% extends "base.html" %}
{% block title %}
    Course
{% endblock title %}
{% block content %}
    <div class="flex flex-col items-start gap-3">
        <h1>{{ course.title }}</h1>
        {% if owns_course %}
            <a href="{% url "edit_course" course.id %}" class="btn">Edit Course</a>
        {% endif %}
        {% if not owns_course %}
            {% if enrolled %}
                <a href="{% url "course_unenroll" course.id %}" class="btn">Unenroll</a>
            {% else %}
                <a href="{% url "course_enroll" course.id %}" class="btn">Enroll</a>
            {% endif %}
        {% endif %}
        <p>{{ course.description }}</p>
        <h2>Students</h2>
        {% if owns_course %}
            {% for student in students %}
                <div class="p-4 flex w-full justify-between rounded border border-[#ccc]">
                    <span>
                        <p>{{ student.first_name }} {{ student.last_name }}</p>
                        <p>{{ student.email }}</p>
                    </span>
                    <a href="{% url "remove_student" course.id student.id %}" class="btn">Remove Student</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
