<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Your meta description goes here." />
        <meta name="keywords" content="your, meta, keywords, go, here" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script>
			tailwind.config = {
			  theme: {
				extend: {
				  colors: {
					muted: '#757575',
					primary: '#4a90e2',
					border: '#e2e2e2',
				  }
				}
			  }
			}
		  
        </script>
        <style type="text/tailwindcss">
			h1 {
				@apply text-2xl font-bold;
			}
			h2 {
				@apply text-xl font-bold;
			}
			h3 {
				@apply text-lg font-bold;
			}
			.btn {
				@apply bg-primary text-white px-4 h-10 rounded flex justify-center items-center;
			}
		
        </style>
    </head>
    <body>
        <header class="bg-gray-800 text-white p-4 flex justify-between items-center">
            <a href={% url "home" %} class="text-2xl font-bold">eLearning</a>
            {% if user.username %}
                <p>Logged in as {{ user.username }}</p>
                <a href={% url "logout" %} class="btn">Logout</a>
            {% else %}
                <nav class="gap-4 flex items-center">
                    <a href={% url "sign_up" %}>Register</a>
                    <a href={% url "login" %} class="btn">Login</a>
                </nav>
            {% endif %}
        </header>
        <main class="p-8">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
