<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
			<h1 class="text-2xl font-bold">eLearning</h1>
			{% if user %}
			<p>Logged in as {{ user.username }}</p>
			<a href="/logout">Logout</a>
			{% else %}
			<a href="/register">Register</a>
			{% endif %}
		</header>
		<main class="p-8">{% block content %}{% endblock %}</main>
	</body>
</html>
