{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-2xl font-bold pb-8">Sign Up</h1>
    <form method="post" class="flex flex-col gap-4">
        {% comment %} Setup csrf token and crispy form {% endcomment %}
        {% csrf_token %}{{ form|crispy }}
        {% comment %} Allow to switch to login {% endcomment %}
        <p>
            Already have an account? <a href="{% url 'login' %}" class="text-primary hover:underline">Login</a>
        </p>
        <button type="submit" class="px-4 h-10 rounded bg-gray-800 text-white">Register</button>
    </form>
{% endblock content %}
