{% comment %} BASE HTML file for use in every other page {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% comment %} Custom seo tags {% endcomment %}
        <meta name="description"
              content="Bridge elearning. Create and view courses, give feedback, and learn modern skills." />
        <meta name="keywords" content="learning, courses, elearning" />
        {% comment %} Tailwind setup {% endcomment %}
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% comment %} Allow for dynamic title {% endcomment %}
            {% block title %}
            {% endblock title %}
        </title>
        {% comment %} Tailwind config  {% endcomment %}
        <script>
			tailwind.config = {
			  theme: {
				extend: {
				  colors: {
					muted: '#757575',
					primary: '#4a90e2',
					border: '#e2e2e2',
				  }
				}
			  }
			}
		  
        </script>
        {% comment %} Global css {% endcomment %}
        <style type="text/tailwindcss">
			h1 {
				@apply text-2xl font-bold;
			}
			h2 {
				@apply text-xl font-bold;
			}
			h3 {
				@apply text-lg font-bold;
			}
			.btn {
				@apply bg-primary text-white px-4 h-10 rounded flex justify-center items-center;
			}
		
        </style>
    </head>
    <body>
        {% comment %} Header {% endcomment %}
        <header class="bg-gray-800 text-white p-4 flex justify-between items-center">
            <a href={% url "home" %} class="text-2xl font-bold">Bridge</a>
            {% comment %} If logged in show logout and dashboard links {% endcomment %}
            {% if user.username %}
                <nav class="gap-4 flex items-center">
                    <a href={% url "logout" %}>Logout</a>
                    <a href={% url "dashboard" %} class="btn">Dashboard</a>
                </nav>
                {% comment %} Else show register and login links {% endcomment %}
            {% else %}
                <nav class="gap-4 flex items-center">
                    <a href={% url "sign_up" %}>Register</a>
                    <a href={% url "login" %} class="btn">Login</a>
                </nav>
            {% endif %}
        </header>
        {% comment %} Main content {% endcomment %}
        <main class="p-8">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
